Package: me.a1iraqi.Fonts
Version: 1.0
Section: Fonts
Maintainer: a1iraqi.me <support@a1iraqi.me>
Architecture: iphoneos-arm
Name: Name Tweaks
Author:  Azozz ALFiras <azozzALFiras@gmail.com>
Sponsor: a1iraqi.me <https://a1iraqi.me>
