Package: me.a1iraqi.Fontsa
Version: 1.0
Section: Fonts
Maintainer: a1iraqi.me <support@a1iraqi.me>
Architecture: iphoneos-arm
Name: Arabic Fonts BytaFont 3
Author:  Azozz ALFiras <azozzALFiras@gmail.com
Sponsor: a1iraqi.me <https://a1iraqi.me>
